// VARIABLES
$primary-color: rgb(140, 93, 0);
$secondary-color: lightslategray;

// USER lOGIN
#login {
  min-width: 350px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  box-shadow: 0 10px 6px 5px rgba(50,50,50,0.1);
  z-index: 1;
  height: 500px;
  &:after {
    content: '';
    border-radius: 5px;
    background-image: url(login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: (0.6);
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }
  h4 {
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-bottom: 50px;
    color: white;
    line-height: 30px;
    font-size: 1.1em;
    z-index: 2;
  }
  form {
    width: 60%;
    text-align: center;
    position: relative;
    border-radius: 5px;
    // box-shadow: 0 0 8px 1px rgba(255,255,255,0.5);
    // background-color: white;
    display: inline-block;
    margin-top: 10px;
    z-index: 2;
  }
  input[name=username] {
    width: 70%;
    color: white;
    margin-bottom: 10px;
    line-height: 1.4em;
    padding-left: 20px;
    border: none;
    border-bottom: .3px solid rgba(255,255,255,0.8);
    outline: none;
    background-color: rgba(255,255,255,0.0);
    &::-webkit-input-placeholder {
    color: white !important;
    }
    &:focus {
      background-color: rgba(255,255,255,0.1);
    }
  }
  button{
    width: 80%;
    margin-top: 20px;
    color: white;
    border: .5px solid white;
    border-radius: 5px;
    outline: none;
    background-color: rgba(255,255,255,0.0);
    &:hover {
      font-weight: 200;
      border: .8px solid white;
      background-color: rgba(255,255,255,0.2);
    }
  }
}


//MAIN STYLES
body {
  background-color: $secondary-color;
  text-align: center;
}

.main-container {
  display: inline-flex;
  flex-direction: column;
  width: 80%;
  background: transparent;
  border-radius: 5px;
  height: 400px;
  margin: 10px auto;
  margin-top: 3%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 6px 5px rgba(50,50,50,0.1);
  &:before {
    content: '';
    border-radius: 5px;
    background-image: url(login-bg.jpg);
    background-size: cover;
    background-size: 500px 300px;
    opacity: (0.5);
    position: absolute;
    width: 100%;
    height: 365px;
    top:0;
    left:0;
  }
 }
 .hidden {
   display: none;
 }

.logoContainer {
  width: 79%;
  display: block;
  margin: 0 auto;
  text-align: center;
  img {
    display: inline-block;
    height: 100px;
    margin: 0 auto;
  }
}

// INPUT
.messageArea {
  display: flex;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  border-top: 5px solid lightslategray;
  outline: none;
  padding-left: 10px;
  min-height: 30px;
  z-index: 3;
}


// CHAT BUBBLES
.chat-window {
  display: flex;
  // background-image: url(login-bg.jpg);
  // background-size: contain;
  flex-direction: column-reverse;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  vertical-align: bottom;
  height: 96%;
  width: 100%;
  overflow: scroll;
}

.my-msgs, .other-msgs {
  display: block;
  position: relative;
  width: 46%;
  margin-bottom: 10px;
  border-radius: 10px;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
  span {
    display: inline-block;
    width: 75%;
    margin: 10px auto;
  }
}
.my-msgs {
  background-color: antiquewhite;
  .delete {
    background: transparent;
    background-image: url(flush.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 25px;
    height: 28px;
    float: right;
    margin-top: 5px;
    margin-right: 5%;
    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }
}

.other-msgs {
  background-color: wheat;
  align-self: flex-end;
  h5 {
    margin: 0 0 0 5px;
    font-weight: bold;
    display: inline-block;
  }

}
